.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  padding: 0 1.6rem;
  gap: 1.2rem;
  border-radius: .8rem;
  font-weight: 500;
  transition: filter .2s;
}

.button:not(:disabled):hover {
  filter: brightness(0.9);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.solid {
  border: 0;
  background-color: var(--purple);
  color: var(--white-details);
}

.outline {
  border: 1px solid var(--purple);
  background-color: transparent;
  color: var(--purple);
}
