.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  gap: 1.2rem;
  border: 0;
  border-radius: .8rem;
  background-color: var(--purple);
  color: var(--white-details);
  font-weight: 500;
  transition: filter .2s;
}

.button:hover {
  filter: brightness(0.9);
}
