.emptyQuestionsMessage {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 28rem;
  margin: auto;
  padding-top: 1.6rem;
}

.emptyQuestionsMessage img {
  width: 15rem;
  margin-bottom: 1.6rem;
}

.emptyQuestionsMessage strong {
  text-align: center;

  font: 600 1.8rem 'Poppins', sans-serif;
  line-height: 3.2rem;
}

.emptyQuestionsMessage p {
  text-align: center;
  margin-top: .4rem;

  font: 400 1.4rem 'Roboto', sans-serif;
  line-height: 2rem;
}
