.homePage {
  height: 200vh;
}

.mainContent {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1.6rem 3.2rem;
}

.mainContent div {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
}

.mainContent div > img {
  width: 60%;
}

.mainContent div > button {
  background-color: var(--danger);
  margin-top: 7.2rem;
}

.mainContent div > button span {
  font-size: 0;
}

.mainContent div form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@media (min-width: 769px) {
  .homePage {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .mainContent {
    padding: 3.2rem 6.4rem;
  }

  .mainContent div {
    max-width: 32rem;
  }
}
