.homePage {
  height: 200vh;
}

.asideContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 1.6rem 3.2rem;
  background: var(--purple);
}

.asideContent h1 {
  margin-top: 4rem;
  font: 700 3.6rem 'Poppins', sans-serif;
  line-height: 4.2rem;
  color: var(--white-details);
}

.asideContent p {
  margin-top: 1.2rem;
  font: 400 2.4rem 'Roboto';
  line-height: 3.2rem;
  color: var(--white-background);
}

.mainContent {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1.6rem 3.2rem;
}

.mainContent div {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
}

.mainContent div > img {
  width: 60%;
}

.mainContent div > button {
  background-color: var(--danger);
  margin-top: 7.2rem;
}

.mainContent div > button span {
  font-size: 0;
}

.mainContent div form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@media (min-width: 769px) {
  .homePage {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .asideContent h1 {
    margin-top: 1.6rem;
  }

  .mainContent, .asideContent {
    padding: 3.2rem 6.4rem;
  }

  .mainContent div {
    max-width: 32rem;
  }
}
